*,
*:before,
*:after {
  box-sizing: border-box;
}

.weather-card {
  border-radius: 4px;
  position: relative;
  overflow: hidden;
  background-color: white;
  cursor: default;
  box-shadow: 0px 0px 25px 1px rgba(50, 50, 50, 0.1);
  animation: appear 500ms ease-out forwards;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);
}
.weather-card h1 {
  margin: 0;
  font-family: "Lato", sans-serif;
  font-weight: 900;
  font-size: 4rem;
  color: #f6f6f6; /*#b8b8b8*/
  opacity: 0;
  transform: translateX(150px);
  animation: title-appear 500ms ease-out 500ms forwards;
}
.weather-card p {
  margin: 5px 0;
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-size: 1.4rem;
  color: #f6f6f6; /*d2d2d2*/
  animation: title-appear 1s ease-out 500ms forwards;
}

.weather-card .svg-container {
  display: flex;
  justify-content: flex-end;
  animation: title-appear 1s ease-out 500ms forwards;
}

.weather-card .svg-container svg {
  width: 90%;
  height: 90%;
  fill: #f6f6f6;
}

.weather-card .info-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  animation: title-appear 1s ease-out 500ms forwards;
}

.weather-card .info-container .small-icon {
  height: 1.3rem;
  width: 1.3rem;
  fill: #f6f6f6;
  margin: 7px 5px 5px;
}

.weather-card .humidity-container {
  display: flex;
  animation: title-appear 1s ease-out 500ms forwards;
}

.weather-card .temp-container h1 {
  text-align: center;
}

@keyframes light {
  from {
    box-shadow: rgba(255, 255, 0, 0.2) 0 0 0 10px;
  }
  to {
    box-shadow: rgba(255, 255, 0, 0.2) 0 0 0 17px;
  }
}
@keyframes rain {
  from {
    box-shadow: #2092a9 8px 0px, #2092a9 32px -6px, #2092a9 20px 0px;
  }
  to {
    box-shadow: #2092a9 8px 6px, #2092a9 32px 0px, #2092a9 20px 6px;
  }
}
@keyframes weather-icon-move {
  50% {
    transform: translateY(-8px);
  }
}
@keyframes appear {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1.05);
  }
  75% {
    transform: scale(0.95);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes title-appear {
  from {
    opacity: 0;
    transform: translateX(150px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}
